body {
    background-color: beige;
    color: rgb(0, 0, 0); /* Black text color */
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 35px;
}

* {
    font-family: Arial, sans-serif;
}

#business {
    color: blue;
}

li[class="gautham"]{
    background-color: yellow;
}
  
li.gautham {
    font-weight: bold;
    color: blue;
}

.comments-container > div {
    margin: 10px;
}

:root {
    --main-color: #007bffd0; /* this is similar to a global var */
}

h1 {
    margin: 10px 15px 20px 25px; /* margin: <top> <right> <bottom> <left>*/
    text-align: center; /* Center the text horizontally */
    font-family: "Jacquarda Bastarda 9 Charted", serif;
    font-weight: 300;
    font-style: normal;
}

h2 { /* make the first heading color black */
    color: black;
}

h3 {
    color: var(--main-color, blue); /* if main-color is not an option just use blue */
}

.name-list {
    border-width: 0.2cm; 
    border-color: #ccc;
    border-style: dashed;
    border-radius: 10px;
    padding: 27pt; 
    width: 300px;
    position: relative;
}

.agenda-list { /* Use relative units to make box around list */
    border-width: 0.4em; 
    border-color: #ccc;
    border-style: dashed;
    border-radius: 10px;
    padding: 2%;
    width: 30rem;
    max-width: 40rem;
}

.block,li {
  border: 2px solid black;
  padding: .5em;
  max-width: 40rem;
  max-height: 40rem;
  position: sticky;
}

.important-para {
    color: purple;
    text-decoration: underline; 
    font-weight: bold;
    text-align: left; 
}

.day {
    border: 3px none #333;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
}

.standup-time {
    font-weight: bold;
}


.day:hover {
    background-color: yellow;
}


.day:active {
    background-color: white;
}

.day:has(ul.standup-time) {
    border: 4px dashed green;
}


.day h3 {
    font-style: italic;
}

.comments-container {
    display: flex;
    flex-direction: row; 
    padding: 20px;
}



.comment, .question, .concern {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.comment li, .question li, .concern li {
    margin: auto;
    font-style: italic;
}

.comment ~ .question {
    color: red;
}

.question + .concern {
    color: purple;
}

.timeline {
    display: grid;
    grid-gap: 10px; 
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    padding: 40px;
    width: 600px
}
.timeline:hover{
    background-color: yellow;
}

.timeline-item {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.milestone {
    background-color: lightgreen;
}

.deadline {
    background-color: salmon; 
}

/* smaller devices */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 50%; 
    }

    .container {
        width: 70%; 
        margin: auto; 
    }

    .image {
        max-width: 100%; 
        height: auto; 
    }
}
